<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
{% block head %}
    <link href="https://gmpg.org/xfn/11" rel="profile">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>{% block title %}{{ page.title }} &middot; {{ site.title }}{% endblock title %}</title>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ url('apple-touch-icon-144-precomposed.png') }}">
    <link rel="shortcut icon" href="{{ url('favicon.ico') }}">
{% block head_css %}
    <link rel="stylesheet" href="{{ url(minify('css/style.css')) }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
{% endblock head_css %}
{% include 'partials/alternates.html.twig' %}
    <link rel="stylesheet" href="{{ url(minify('css/monokai-sublime.css')) }}">
    <script src="{{ url('js/highlight-9.13.1.min.js') }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock head %}
  </head>
  <body>
    <div class="sidebar">
      <div class="container sidebar-sticky">
{% block sidebar %}
        <div class="sidebar-about">
          <h1>
            <a href="{{ url() }}">{{ site.title }}</a>
          </h1>
          <p class="lead">{{ site.description }}</p>
        </div>
        <nav class="sidebar-nav">
{% if site.menus.main is defined %}
{% for menu in site.menus.main|sortByWeight %}
          <a class="sidebar-nav-item{% if url(page) == url(menu.url) %} active{% endif %} item-weight-{{ menu.weight }}" href="{{ url(menu.url) }}">{{ menu.name }}</a>
{% endfor %}
{% endif %}
        </nav>
        <span style="font-size: 9px; line-height: 0.4em;">
        <p>Are you a sports analyst too? Our friends and forecast sites : </p>
       <a href="https://stefanieburt.com/posts/everyone-is-an-expert-in-esports/">Experts in esports </a>
       
<a href="https://soccer-insider-tips.com/" title="Soccer and football fixed tips. Get our strong insider predictions today" target="_blank">Insider Tips</a> 
   <a href="https://www.fixedmatches.org/" target="_blank">Football Predictions</a>
        <a href="https://draw-predictions.com/" target="_blank">Draw Prediction</a> 
         <a href="http://www.sporttips.org/" target="_blank">Sport Predictions</a>  
          <a href="Https://www.bettingfamily.com/en" target="_blank">Sports Betting Tips</a>  
            <a href="Http://11livescore.com/" target="_blank">Livescore</a>  
              <a href="https://profitsoccerpicks.com/" target="_blank">Profitable soccer predictions</a>  
                <a href="http://messibest.com/" title="Fan page of Leo Messi" target="_blank">Leo Messi</a>
             <a href="https://24footballtips.com/" title="Paid football service for online predictions and tips" target="_blank">football predictions</a>
             <a href="https://www.bestsocceradvice.com/" target="_blank">Best Soccer Advice</a>
             <a href="http://www.11livegoal.com/" target="_blank">Soccer Livescore</a>
              <a href="https://www.soccerwinbet.com/">soccerwinbet</a>
               <a href="https://www.bookiesinfo.com/">Bookies Info</a>
                <a href="https://fixed-games.com/" title="Fixed betting tips for successful football betting">Betting Predictions</a>
 <a href="http://www.ronaldobest.com/" title="Fan site of Cristiano Ronaldo - CR7">Cristiano Ronaldo</a>
 <a href="https://free-soccer-picks.com/">Free soccer predictions</a>
  <a href="https://www.goldsoccertips.com/" title="Paid soccer tips provided from professional tipsters and handicappers.">Soccer Predictions</a>
 <a href="https://betplate.com">Football Prediction Site</a>
 <a href="https://oyapredict.com">Football Prediction Site</a>

          </span>
       
{% endblock sidebar %}
      </div>
    </div>
    <div class="content container">
{% block content %}
      <h1 class="page-title">{{ page.title }}</h1>
      {{ page.content }}
{% endblock %}
    </div>
  
  </body>
</html>
