{% extends 'page.html.twig' %}

{% block title %}{{ site.title }} &middot; {{ site.baseline }}{% endblock title %}

{% block content %}
      <div class="posts">
{% for post in site.pages|filter_by('section', 'blog')|sort_by_date|slice(0, 1) %}
        <div class="post">
{% block post %}
          <h1 class="post-title"><a href="{{ url(post) }}">{{ post.title }}</a></h1>
          <span class="post-date">{{ post.date|date("j M Y") }}</span>
{% if post.image is defined %}
          <img src="{{ url(post.image) }}" />
{% endif %}
          {{ post.content|excerpt_html }}
          <footer class="readmore">
            <a href="{{ url(post) }}#more">Read more ›</a>
          </footer>
{% endblock post %}
        </div>
{% endfor %}

      </div>
{% include 'partials/lastposts.html.twig' %}
partners: 
        <p>Are you a sports analyst too? Popular livescores and forecast sites : </p>
        <a href="http://www.betmagnet.com/en/" title="Description: Betmagnet - Personal Bet Tracking">Track And Analyze Your Bets</a>,
       <a href="https://stefanieburt.com/posts/everyone-is-an-expert-in-esports/">Experts in esports </a>,
     <a href="https://soccer-insider-tips.com/" title="Soccer and football fixed tips. Get our strong insider predictions today" target="_blank">Insider Tips</a>,
   <a href="https://www.fixedmatches.org/" target="_blank">Football Predictions</a>,
    <a href="http://uweek.org" title="Weekly insight into game business">uweek.org</a>,
   
       

            <a href="Http://11livescore.com/" target="_blank">Livescore</a> ,
            <a href="http://ledner.info/" title="Personal Bet Tracking">Track And Analyze Your Esports Bets</a>,
              <a href="https://profitsoccerpicks.com/" target="_blank">Profitable soccer predictions</a>, 
                <a href="http://messibest.com/" title="Fan page of Leo Messi" target="_blank">Leo Messi</a>,
             <a href="https://24footballtips.com/" title="Paid football service for online predictions and tips" target="_blank">football predictions</a>,
             <a href="https://www.bestsocceradvice.com/" target="_blank">Best Soccer Advice</a>,
             <a href="http://www.11livegoal.com/" target="_blank">Soccer Livescore</a>,
              <a href="https://www.soccerwinbet.com/">soccerwinbet</a>,
               <a href="https://www.bookiesinfo.com/">Bookies Info</a>,
                <a href="http://oravro.com" title="Never borrow from others">Better to play games</a>,
 <a href="http://www.ronaldobest.com/" title="Fan site of Cristiano Ronaldo - CR7">Cristiano Ronaldo</a>,
 <a href="https://free-soccer-picks.com/">Free soccer predictions</a>,
  <a href="https://www.goldsoccertips.com/" title="Paid soccer tips provided from professional tipsters and handicappers.">Soccer Predictions</a>,
   <a href="https://esporttalk.org">esports csgo bet</a>,

 <a href="https://www.soccertipster.org/" title="Paid soccer predictions provided from professional tipsters">soccer prediction</a>,
 <a href="https://www.footballcapper.org/" title="Strong and profitable football betting tips">football betting predictions</a>,
  <a href="http://11livegames.com/">Online soccer games</a>,
   
   <a href="http://scuderiafans.com/">Scuderia Ferrari Fans</a>,
 <a href="http://www.sportstips.eu" title="Sports Betting - Football tips - Soccer prediction">SPORTSTIPS</a>,
  <a href="https://football-capper.com/">football capper prediction</a>,
   <a href="http://europol-fixed.com">Best Fixed Matches</a>,
    <a href="http://maxbetfixed.com">Max Bet Fixed</a>,
 
    
      <a href="https://www.fixedsoccermatches.com/" title="Buy our fixed betting tips and feel yourself a winner. This is the best way to beat the bookies">fixed soccer games</a>,
        <a href="https://soccerwinpicks.com/" title="Soccer predictions with good winning rate">soccer win predictions</a>,
          <a href="https://www.fixfootballpicks.com/" title="Paid football predictions from professional experts">Fix football predictions</a>
<a href="https://cannabisonlinehub.com/product/buy-moon-rocks-online/" target="_blank">purple moon rocks</a>
  <a href="https://footballwinbet.com/">football win bets</a>,

      <a href="https://fixed-games.com/">Betting Predictions</a>,
 <a href="https://oyapredict.com">Football Prediction Site</a>
 <a href="https://cannabisonlinehub.com/cannagars-cannabis-cigars/" target="_blank">weed cigar</a>
 <a href="https://www.shamshost.net" target="_blank">&#1588;&#1605;&#1587; &#1607;&#1608;&#1587;&#1578;</a>
 asia best bet <a href="https://www.freebetsinfo.co.uk/asia-bookmakers/" target="_blank">best asian bet</a> best asian bookmakers
 Get Pan card Instantly | <a href="https://myepan.online/" target="_blank">Pan Card Apply Online</a> from E-PAN Online Very Easily.
 &#21338;&#24425;&#20844;&#21496;&#26368;&#26032;&#25237;&#27880;&#22870;&#37329;&#20419;&#38144; <a href="https://www.freebetbest.com/zh-hans/%E5%8D%9A%E5%BD%A9%E5%85%AC%E5%8F%B8%E6%8E%92%E5%90%8D/" target="_blank">&#21338;&#24425;&#20844;&#21496;</a> &#20122;&#27954;&#36275;&#29699;&#21338;&#24425;&#20844;&#21496;&#25490;&#21517;
 Improve your ranking with cheap and reliable <a href="https://elo-boost.net" target="_blank">lol boosting</a> service.
 &#26368;&#20339;&#20307;&#32946;&#21338;&#24425;&#32593;&#31449;&#22870;&#37329; <a href="https://www.vvvvu.com/zh-hans/%e5%8d%9a%e5%bd%a9%e5%85%ac%e5%8f%b8/" target="_blank">&#21338;&#24425;&#32593;&#31449;</a> &#26368;&#22909;&#30340;&#22312;&#32447;&#21338;&#24425;&#32593;&#31449;
 turkish citizenship <a href="https://www.wiklundkurucuk.com/turkish-citizenship-by-investment/" target="_blank">turkish citizenship by investment</a> Turkish citizenship 250.000 USD
Humboldt Bud Company with a strain choice collection hence you could <a href="https://cannabisonlinehub.com" target="_blank">order weed online</a> You could get a mix of 4 strains in a lb.
{% endblock content %}
